section>form {
	border: 1px solid black;
}

label{
	margin: 10px;
	
}
div {
	margin: 10px;
	
}
h3 {
	margin-bottom: 10px;
}

.error {
	color: red;
}

body{
	width: 70%;
}

p>input[type=submit] {
	 float:right;
}